/*                KEY POSITIONS
  ╭───────────────────────────────────────────────────╮
  │  0   1   2   3   4   5  |   6   7   8   9  10  11 │
  │ 12  13  14  15 (16) 17  |  18 (19) 20  21  22  23 │
  │ 24  25  26  27  28  29  |  30  31  32  33  34  35 |
  | 36  37  38  39  40  41  |  42  43  44  45  46  47 |
  ╰───────────────────────────────────────────────────╯
                                                        */

compatible = "zmk,combos"; 

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

COMBO(undo, &kp LC(Z), 25 26, DEFAULT THAI)
COMBO(cut, &kp LC(X), 26 28, DEFAULT THAI)
COMBO(copy, &kp LC(C), 26 27, DEFAULT THAI)
COMBO(paste, &kp LC(V), 26 27 28, DEFAULT THAI)
COMBO(select_all, &kp LC(A), 20 23, DEFAULT THAI)

//ported from main
COMBO(oneshot_shift, &sk LSHFT, 41 42, 0) 
COMBO(lang_toggle, &macro_lang, 31 32, 0 1)

